.act-whole{
	background-color: #fff;
	padding: 5px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill,500px);
	justify-content: space-between;
}

.act-whole div{
	border: 1px solid #eee;
	margin-bottom: 15px;
	height: 150px;
}