.or-search{
	width:100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #9f9f9f;
}
.or-search-control{
	margin: 5px;
	height: 80px;
	border: 1px solid #9f9f9f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.or-search-control .my-to-flex div{
	margin-left: 5px;
}

.gs-ctrl-ser{
	/* margin-left: 10px; */
	width: 100px;
	line-height: 34px;
}


.or-search-list{
	flex: 1;
	margin: 5px;
	border: 1px solid #9f9f9f;
	overflow: scroll;
}
.or-search-list::-webkit-scrollbar{
	width: 1px;
}
