.hp-main{
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.hp-main > div{
	margin: 5px;
	box-shadow: 0 0 10px 0 #eee;
}

.hp-inner-main{
	border: 10px #fff solid;
	
}