.hpnew {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 300px;
	min-height: 230px;
	height: 230px;
	background-color: #fff;
	/* border: 1px solid #eee; */
	overflow: hidden;
}
.hpnew-title{
	height: 30px;
	/* border-bottom: 1px solid #ccc; */
	margin:2px 15px;
	padding-left: 10px;
	border-left:5px solid #4169e1;
	line-height: 30px;
}
.hpnew-body{
	flex: 1;
}
.hpnew-body-title{
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-top:1px solid #ccc ;
	/* border-bottom:1px solid #ccc ; */
	display: flex;
}
.hpnew-body-title span{
	flex: 1;
	border-left: 1px solid #ccc;
	border-bottom:1px solid #ccc ;
}
.hpnew-body-title span:first-child{
	border-left: none;
}

.hpnew-body-item{
	padding: 5px 20px;
}
.hpnew-body-ul{
	display: none;
}
.hpnew-show{
	display: block;
}
span.hpnew-title-curspan{
	border-bottom:none ;
}