.loginbg{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(44deg, #9b9b05, #33002ba3 50%), linear-gradient(145deg, #b61717,#0000ff30 50%)
}
.login{
    height: 250px;
    width: 30vw;
    background-color: #ffffff;
    min-width: 400px;
    margin: 20vh auto;
    box-shadow: 0 0 10px 0 #eee;
    padding: 20px;
}
.login label{
	margin: 25px 0;
	display : block;
	padding: 0 15px;
}
.login label input{
	margin-right: 20px;
	float: right;
	/* outline: #0000FF; */
	padding: 0 3px;
}

.login form legend{
	text-align: center;
}
.login form div{
	float: right;
}
.login form div input {
	margin: 15px  20px;
	border: none;
	background: #C7AA5B;
	color: #333;
	line-height: 30px;
	outline: none;
}