.maintoflex{
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.left-main-flex{
	flex: 1;
	overflow: hidden;
	display: flex;
	margin-bottom: 10px;
}


.my-to-flex{
	display: flex;
}

.top-index-wel{
	position: relative;
	align-self: center;
	line-height: 70px;
}
.top-index-lo{
	display: none;
	position: absolute;
	width: 70px;
	height: 40px;
	background-color: rgba(0,0,0,0.65);
	border-radius: 7px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	top: 50px;
	color:#fefefe;
	cursor: pointer;
}
.top-index-lo span:hover{
	text-decoration: underline;
}
.top-index-lo:before{
	display: block;
	content: "";
	width: 0;
	height: 0;
	/* background-color:red; */
	border:10px solid transparent;
	border-bottom-color:  rgba(0,0,0,0.65);
	margin-top:-20px;
	margin-left: 23px;
}



#right{
	overflow: auto;
}
#right::-webkit-scrollbar{
	width: 0;
	height: 0;
}