.inner{
	overflow: hidden;
	height: 100%;
	display:flex;
	flex-direction: column;
	}
	
	.more-set-head{
		/* box-sizing: border-box; */
		min-height: 50px;
		/* line-height: 20px; */
		padding:10px 20px;
		background-color: #fff;
		/* border-radius: 15px; */
		margin: 5px 0;
	}
	.more-set-body{
		overflow: scroll;
		flex: 1;
		background-color: #fff;
		/* border-radius: 15px; */
	}
	.more-set-body::-webkit-scrollbar{
		width:1px;
	}
	
	.set-person-tabel{
		background-color: #fff;
		/* border-radius: 15px; */
	}
	
	
	.change-mask-inner {
		position:absolute;
		top:10%;
		left:50%;
		margin-left:-200px;
		width:400px;
		height:400px;
		background-color:#fff;
		padding:40px 50px;
	}
	.flex1 .label {
		display:flex;
		justify-content:space-between;
		margin-bottom:10px;
		color:#444;
	}
	/* .flex2label{} */
	.checklabelinnerbox{
		/* display:block; */
		width:100%;
		display: flex;
		justify-content: center;
		flex-wrap:wrap ;
		padding: 10px 0 20px;
	}
	
	.checklabel{
		margin: 5px;
	}